body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-div {
  margin: 0 auto;
  margin-top: 15vh;
  width: 50vw;
}

.sidebar-menu {
  top: 50vh;
}


.parent-home-view {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* font-family: 'Caveat Brush', cursive;
font-family: 'Chewy', cursive;
font-family: 'Ranchers', cursive;
font-family: 'Schoolbell', cursive; */