body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-div {
  margin: 0 auto;
  margin-top: 15vh;
  width: 50vw;
}

.other-hover-card:hover {
  opacity: 1;
  
}

.other-hover-card {
  opacity: 0 ;
  background: black;
  position: absolute;
  transition: opacity 1s;
}

.parent-header {
  top: 5vh;
}

.sidebar-menu {
  top: 50vh;
}
