body {
    background-color: #add8e6;
}

.login-form, .signup-form {
    margin-top: 20vh;
}

.form-logo {
    bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
}

#signup-logo {
    bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
}

#login-header, #signup-header {
    color: #f2711c;
}

#isbn-header {
    font-family: 'Schoolbell';
}
#isbn-button {
    background-color: #006e90;
    color: white;
}