body {
    background-color: #add8e6;
}

.login-form, .signup-form {
    margin-top: 20vh;
}

.form-logo {
    bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
}

#signup-logo {
    bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
}

#login-header, #signup-header {
    color: #f2711c;
}

#isbn-header {
    font-family: 'Schoolbell';
}
#isbn-button {
    background-color: #006e90;
    color: white;
}

#filter-all-btn {
    background-color: #f2711c;
    color: white;
}

#filter-all-btn:active {
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -moz-transform:scale(.95); /* Firefox */
    -ms-transform:scale(.95); /* IE 9 */
    -o-transform:scale(.95); /* Opera */
     transform:scale(.95);
}

#filter-fav-btn {
    background-color: #6c698d;
    color: white;
}

#filter-fav-btn:active {
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -moz-transform:scale(.95); /* Firefox */
    -ms-transform:scale(.95); /* IE 9 */
    -o-transform:scale(.95); /* Opera */
     transform:scale(.95);
}