#landing-buttons {
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#login-btn {
    background-color: #f2711c;
}

#signup-btn {
    background-color: #6c698d;
}

#or-btn::before {
    background-color: #bed88d ;
    color: black ;
}